[2017-09-06 16:59] enoksaju opened #3 "context.<Entity>.Any() Return SQL error code = -104"
### The issue

The Any () function generates an SQL error -104.

### Steps to reproduce
when I generate the database initializer I use Any () to check if there is data in the table, when it runs, it shows errors. this is my code:

[code]

### Error details

[code]

### Further technical details

Firebird version:
EntityFrameworkCore.Firebird version: 2.0.8-preview8

Other details about my project

[2017-09-06 17:28] ralmsdeveloper commented on #3
I'll be checking this out.

[2017-09-06 22:55] ralmsdeveloper commented on #3
Fixed! Implemented (Version 2.0.0-rtm)

[2017-09-06 22:55] #3 closed

[2017-09-07 14:51] enoksaju opened #4 "error on Remove entity from Database , SQL error code = -104"
### The issue

when I try to delete an element from the database, a block of execution is generated, but FireBirdClient detects an SQL exception error code = -104

### Steps to reproduce

this is my code:

[code]

### Error details

[code]

### Further technical details

Firebird version: 3.0
EntityFrameworkCore.Firebird version: 2.0.8-preview8

Other details about my project setup:

[code]

[2017-09-07 14:56] enoksaju commented on #4
This code works fine in version 2.0.9-preview9

[2017-09-07 14:56] #4 closed

[2017-09-07 15:46] ralmsdeveloper commented on #4
Thank you!
Version 2.0.2!

[2017-09-07 17:49] enoksaju commented on #4
version 2.0.2 does not work with Microsoft.AspNetCore.Identity.EntityFrameworkCore, it shows errors when executing the command:
`dotnet ef database update`

it shows me this:

[code]

[2017-09-07 23:13] ralmsdeveloper commented on #4
Thank You!

[2017-09-07 23:13] ralmsdeveloper commented on #4
I'm Here!

[2017-09-07 23:53] enoksaju commented on #4
Can I publish it as a issue?

[2017-09-08 00:22] ralmsdeveloper commented on #4
Feel free!

[2017-09-13 13:35] hichemhlm opened #5 "Modification querys not working"
### The issue

When i do an insert to the database, Firebird throws an Error.("Dynamic SQL Error SQL error code = -104 Unexpected end of command - line 4, column 93")

EFCore.FirebirdSQL 2.0.1

### Steps to reproduce

            var avoir = new Avoir
            {
                Num = "TEST-110989",
                Info = "info blabla"
            };
            db.Fbonavoir.Add(avoir);

[2017-09-13 13:55] ralmsdeveloper commented on #5
I'll be checking this out!

[2017-09-15 23:27] ralmsdeveloper commented on #5
My suggestion is you use version 2.0.3.

I made some corrections!

[2017-09-16 01:19] ralmsdeveloper commented on #5
**Any questions, I'm here!**

[2017-09-16 01:19] #5 closed

[2017-10-02 22:23] azforeversupporter opened #8 "Migrations fail on columns with default values"
### The issue

When creating an entity with a property that should have a default value, e.g. calling HasDefaultValue(), the migration will fail with a "Dynamic SQL error". For me, this has only occurred on columns that weren't an identity column.

### Steps to reproduce

1. Create an entity with properties that should have default values in the DB.
[code]

2. Configure the entity with the Fluent

[2017-10-02 23:15] #8 closed

[2017-10-26 12:35] redbaty opened #10 "Generated model does not include Nullable"
### The issue

From database to code the generated models does not include the nullable types

### Steps to reproduce

Create a table with a nullable column, and scaffold-it

### Error details

[code]

### Further technical details

Firebird version: 2.15
EntityFrameworkCore.FirebirdSql version: 2.0.9

[2017-10-26 13:14] ralmsdeveloper commented on #10
@redbaty , I'll check that out today.

[2017-10-26 13:41] ralmsdeveloper commented on #10
@redbaty, you can use the preview version 2.0.10-preview 1 to solve this, until version 2.10 is released

Thanks!

[2017-10-26 14:16] redbaty commented on #10
@ralmsdeveloper Are you sure its fixed ? At least in my model it still doesnt use nullables.

I'm using

`Scaffold-DbContext "User=SYSDBA;Password=masterkey;Database=E:\SGE32\Dados\EMPRESA001.FDB;DataSource=127.0.0.1;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" "EntityFrameworkCore.FirebirdSql" -OutputDir En

[2017-10-26 14:34] ralmsdeveloper commented on #10
Olá @redbaty, pelo que tinha visto, o problema estava em seu Startup(então imaginei que era no Migrate), por que isso tinha acontecido em uma versão anterior, sabendo que o caso é no Scaffolding, estarei analisando agora.

Sim, Brasileiro! 😄

[2017-10-26 14:36] redbaty commented on #10
@ralmsdeveloper Eu coloquei no startup só pra fazer teste mesmo 😄 . Mas é revigorante um respositório tão importante mantido por um brasileiro, parabéns! 🎉

[2017-10-26 16:55] ralmsdeveloper commented on #10
@redbaty você poderia disponibilizar seu banco de testes? para que possa fazer um teste e simular a sua situação, em meus testes eu tive exito, em seu caso está aparecendo o IsRequired no context?

é sabido que irá aparecer apenas quando o campo for obrigatório correto!

[2017-10-26 17:01] redbaty commented on #10
@ralmsdeveloper Não, ta normal sem o IsRequired, mas lá no modelo ta int sem o "?" ou Nullable<int> daí quando vai fazer a conversão dá aquele erro lá. Se você quiser te mando o contexto inteiro.

Column Name	#	Data Type	Charset	Length	Scale	Not Null	Auto Generated	Auto Increment	Default	Key	Description
CODAGENDA	104	INTEGER	[NULL]	10	[NULL]	false	false	false	0	false	[NULL]

[2017-10-26 18:04] ralmsdeveloper commented on #10
Tudo bem resolvi isso, favor verificar o 2.0.10-preview2

[code]

Se ficou resolvido pra você, fique a vontade em fechar o issue!
Obrigado.

[2017-10-26 18:09] redbaty commented on #10
@ralmsdeveloper Olá denovo e desculpa o incomodo, agora durante o saffolding deu este erro:

`Dynamic SQL Error
SQL error code = -206
Column unknown
RF.RDB$IDENTITY_TYPE
At line 44, column 17`

[2017-10-26 18:21] ralmsdeveloper commented on #10
Isso é por que uso o Firebird 3.0, Mais tenho que deixar isso Compatível com 2.5.
Irei verificar isso!

[2017-10-26 18:45] ralmsdeveloper commented on #10
Quero que fique a vontade.
Fiz a implementação, favor verificar preview3.
Obrigado.

[2017-10-26 18:55] redbaty commented on #10
@ralmsdeveloper Agora deu este erro:

[code]

[2017-10-26 18:55] redbaty commented on #10
Pode ser que o erro desta vez esteja na database, mas como não apareceu a tabela ta um pouco dificil de achar hehe

[2017-10-26 19:03] ralmsdeveloper commented on #10
Para facilitar meus testes coloca a estrutura da tabela aqui. por que crio um ambiente para simular isso.

[2017-10-26 19:08] redbaty commented on #10
@ralmsdeveloper Taí, é bem grande. E mais uma vez: Muito obrigado!

[Squema.zip](https://github.com/ralmsdeveloper/EntityFrameworkCore.FirebirdSQL/files/1419730/Squema.zip)

[2017-10-26 19:23] ralmsdeveloper commented on #10
Estou analisando, enquanto analiso, poderia testar com o preview4?

[2017-10-26 19:28] redbaty commented on #10
@ralmsdeveloper Tentei, e resultou no mesmo erro:

[code]

[2017-10-26 19:31] redbaty commented on #10
@ralmsdeveloper Ah, e se você quiser conversar no slack, ou outro tipo de serviço de mensagem instantânea é até vantagem pra mim, porque o github não me notifica

[2017-10-26 19:40] ralmsdeveloper commented on #10
Consegui simular aqui, prefiro por aqui... por que podemos ter um histórico em nossa linha do tempo.
Até pra saber se progredimos.
Eu consegui simular aqui. já estou fazendo o ajuste!

[2017-10-26 22:38] ralmsdeveloper commented on #10
Olá @redbaty, subi para o nuget a preview5 se certifique que tudo ocorrerá bem!

Percebo que em seu banco existe varias tabelas sem chave primária essas serão descartadas pelo scaffolding.

[2017-10-27 10:19] redbaty commented on #10
Olá @ralmsdeveloper tem mesmo, esse banco é muito antigo e já foi portado varias vezes, inclusive este é o intuído do uso, dá uma limpada nisso aí.
Mas deu ecrto sim muito obrigado!

Ah e um bug tão pequeno que eu acho que nem precisa de abrir outro issue:

No contexto gerado ta faltando o

`using EntityFrameworkCore.FirebirdSql.Extensions;`

[2017-10-27 10:19] #10 closed

[2017-11-13 02:43] ganagus opened #11 "Boolean Type is Mapped to BOOLEAN Data Type"
### The issue

If I understand correctly from the online documentation, the data type for true/false in Firebird 2.5 is INTEGER or CHAR(1). When I use migration tool in Visual Studio 2017 using EntityFrameworkCore.FirebirdSql version 2.0.10, by executing Add-Migration command from Package Manager Console, the conversion of bool type is BOOLEAN data type. It should be INTEGER or CHAR(1).

### Steps

[2017-11-13 11:08] ralmsdeveloper commented on #11
Hello @ganagus,
I'm checking this out, when it was built a lot of things happened in FB 3.0.
I'm making this correction, thanks for the issue!

[2017-11-19 19:55] ralmsdeveloper commented on #11
Could try with EntityFrameworkCore.FirebirdSql 2.0.11-preview1

[2017-11-19 19:55] #11 closed

[2017-11-21 23:26] robertosistemas opened #12 "Mapping numeric types in the same configurable way you can do in Oracle"
It would be great if in the Firebird .NET Drive there was a way to map the same numeric types you can do in the Oracle Driver.
It would solve various system and framework migration incompatibility issues and make it easier to choose firebird as a database for the .NET platform. I think it would be very easy to do that.

https://docs.oracle.com/database/121/ODPNT/entityDataTypeMapping.htm#ODPNT8300

[2017-11-22 00:09] ralmsdeveloper commented on #12
Hello @robertosistemas
Very cool your questioning.
This is a problem being analyzed, the EF team also plans to implement this.
I want to add this in the next version 2.1.

I remember there is a workaround for that.

Using the:
[code]

Thank you.

[2017-11-24 01:53] ralmsdeveloper opened #13 "Boolean type for Fb 2.5*"
**Boolean type for Fb 2.5**

* Create option to customize the property

[2018-01-02 22:26] ralmsdeveloper opened #17 "Implement Testing Units"
Implement tests, compatible with the Entity Framework Core project.

[2018-01-05 19:18] redbaty opened #18 "Insertion bug"
### The issue

Can't insert properly on Firebird 2.5

### Steps to reproduce

Create a project, add the entity framework dependencies and try to insert multiple objects into a table ( Not tested single ones )

### Error details

It doesn't create an error but it doesn't insert into the database and the SQL output shown on the Output window is not right

### Further technical details

Firebird vers

[2018-01-05 19:33] ralmsdeveloper commented on #18
Hello @redbaty ,
You could open a problem [here ](https://github.com/ralmsdeveloper/EntityFrameworkCore.FirebirdSQL)so we can analyze.

[2018-01-05 19:36] ralmsdeveloper commented on #18
Hello @redbaty ,
Could you show us something? any code?

To try to make a repro.

[2018-01-05 22:22] redbaty commented on #18
@ralmsdeveloper Hey sorry, I created this just when I was leaving to go home. I'll create one now

[2018-01-05 22:34] redbaty commented on #18
@ralmsdeveloper Oh and I've just noted that you can use .EnsureCreated() too, should I create another Issue, to keep track of?

[2018-01-06 00:24] ralmsdeveloper commented on #18
Yes, thanks for this!

[2018-01-06 00:25] ralmsdeveloper commented on #18
For me it's working EnsureCreated()

[2018-01-06 00:28] redbaty commented on #18
@ralmsdeveloper hmm strange, here it gives an error saying that the token BY is unknown, I'll post the stack trace in a bit

[2018-01-06 00:33] redbaty commented on #18
@ralmsdeveloper Try to reproduce it using this repo: https://github.com/redbaty/FirebirdTest

[2018-01-06 00:39] ralmsdeveloper commented on #18
Make um DownGrade , and test please!

[2018-01-06 00:42] redbaty commented on #18
@ralmsdeveloper You mean the package or firebird itself?

[2018-01-06 00:45] ralmsdeveloper commented on #18
I will solve some things now, but tomorrow, I will reproduce with your code!

[2018-01-06 00:46] redbaty commented on #18
@ralmsdeveloper All right, Boa Noite!

[2018-01-06 00:47] ralmsdeveloper commented on #18
Rsss, Boa noite conterrâneo!

[2018-01-06 21:53] ralmsdeveloper commented on #18
Hi redbaty,

Thanks for the Issue, please upgrade to 2.0.11.1

[2018-01-06 22:23] redbaty commented on #18
@ralmsdeveloper Hey I`ve just updated the same repository with this issue repro. (The insertion bug)

[2018-01-06 23:18] ralmsdeveloper commented on #18
Change this:
`public string Url {get; set; }`

Per:
[code]

There are limitations to internal use of the "BLOCK" command for varchar (8191)

So when you do not tell the maximum size it creates fields to type varchar (8191)

👍

[2018-01-07 00:14] redbaty commented on #18
@ralmsdeveloper Hmm, it is still not saving, did it work on your computer?

[2018-01-07 00:15] redbaty commented on #18
@ralmsdeveloper Oh wow, that was dumb, I was not adding the toAdd list to the context. It worked thank you so much! :tada:

[2018-01-08 10:33] redbaty commented on #18
@ralmsdeveloper Hey just a suggestion though, could you throw an exception when the attribute is not there? Cause then it'll make it easier for others to debug this.

[2018-01-08 11:20] ralmsdeveloper commented on #18
Hello @Redbaty,
But this is the expected treatment!
That's right, you just did not pass anything on the EFCore crawler, so by calling SaveChanges (), it will record what's in the crawler!

You can use the `int ret = .... SaveChanges ();`
if the return is greater than 0 recorded!

[2018-01-08 17:11] redbaty commented on #18
@ralmsdeveloper Could we add it to the scaffolding process then? Or is it this limitation you were talking about?

[2018-01-08 17:23] ralmsdeveloper commented on #18
Not limitation, only you were doing this:
[code]
instead:
[code]
Since there was no information for the crawler then SaveChanges did nothing!

[2018-01-08 17:28] redbaty commented on #18
@ralmsdeveloper  I meant these: `[StringLength (100)]`

[2018-01-08 17:34] ralmsdeveloper commented on #18
Sorry, I did not see where you referenced this.
But you should do this with Annotation or Fluent API, in OnModelCreating()

Was this class generated by Scaffolding?

[2018-01-08 17:44] redbaty commented on #18
From the test project no, but a colleague at work was having some trouble with this, we tried the -d argument when scaffolding but it didn't help, the length attribute was missing

[2018-01-08 17:52] redbaty commented on #18
@ralmsdeveloper Actually it does, my bad, but now there's a mistake on the insert statement:

[code]

There's a unnecessary END; at the end.

Ps: this Database is very old and we're moving it to a new platform, that's why there are those horrible column names

[2018-01-08 17:58] ralmsdeveloper commented on #18
Open a issue for this, but I believe this is not the full SQL output!

[2018-01-08 17:59] redbaty commented on #18
@ralmsdeveloper There is the parameters below, but the error is only occurring at that "END;" we've ran it without it and it worked fine

[2018-01-08 17:59] redbaty commented on #18
I'll reopen this issue since this also falls into the "Insertion bug" category

[2018-01-08 18:02] redbaty commented on #18
@ralmsdeveloper Hey if you're up to it you can create a slack or something like that so we could debug it faster

[2018-01-08 18:03] ralmsdeveloper commented on #18
I'll check that later.
Thanks!

[2018-01-08 18:03] redbaty commented on #18
@ralmsdeveloper Thank *YOU*! 😄

[2018-01-09 12:12] redbaty commented on #18
@ralmsdeveloper Some progress, I found out that it needs a `;` after the insert statement, now the problem is the affectedrows var on the execute block, it expected 1 but got actually 0

[2018-01-09 12:24] redbaty commented on #18
@ralmsdeveloper Okay, got it working. I've added a `suspend;` before the `end;` statement and it worked, but it threw a IndexOutOfRange exception something related about a column name, but the data got inserted so the problem is on C# side.

[2018-01-09 12:27] redbaty commented on #18
@ralmsdeveloper Hey, could we really look up that slack / skype / some other instant messager thing ? Cause we need to discuss somethings

[2018-01-09 23:54] thelostcode opened #19 "Client SQL dialect 1 does not support reference to BIGINT datatype"
### The issue
Alright I'll give my best to explain it.

In file **FbModificationCommandBatch**.cs there is the **GetCommandText**() method. It generates a special line to the executed block

[code]

**This is not always correct and may cause a server error.**

If you have a database in dialect 1 and we take aside the reason why someone has this in 2018 and you execute this statement with that BIGI

[2018-01-10 01:27] ralmsdeveloper commented on #19
Yes would be a good suggestion, but only for those who use DIALECT 1.

Another important thing is to know that the 1 is marked for obsolete.

Look at this link:
https://www.firebirdsql.org/pdfmanual/html/isql-dialects.html

I'll analyze how to solve this!
I can not just switch to int, because those who use the long type will have problems!

[2018-01-10 09:41] thelostcode commented on #19
Yeah I know this. Just switching it is wrong. Also I know it is obsolete but I know companies that use Firebird 2.5 and an super old school database ( > 20 years ), ported from Interbase which is still Dialect 1. Though they connect with Dialect 3 nowdays the database file itself is Dialect 1.

![image](https://user-images.githubusercontent.com/1774318/34765774-af6fe466-f5f2-11e7-83d8-c7fcfc7324bf

[2018-01-10 09:44] thelostcode commented on #19
The BIGINT is used for counting affected rows in update calls, right?
Is it even possible to update more than  2.147.483.647 rows? I am not really sure if BIGINT is really needed there when I start thinking about this.

[2018-01-10 11:21] ralmsdeveloper commented on #19
No, it returns the table id!
But I've marked this as I analyze, I'll try to make this implementation soon.

[2018-01-10 13:56] thelostcode commented on #19
Oh, I was not aware of this. Thank you for letting me know. If you let me know how I can access the database options inside of that code without doing hackish stuff I can make it happen and do a PR. 🔢

[2018-01-10 21:34] redbaty commented on #18
This issue seems to have been fixed in the 2.0.11.3 update!

[2018-01-10 21:34] #18 closed

[2018-01-10 21:34] thelostcode opened #20 "OFFSET and FETCH NEXT clauses"
### The issue

OFFSET and FETCH FIRST Clauses are not supported by Firebird.

However the base implementation of Linq generates them to the end on Queries if you do

[code]

This results in a statement that cannot be executed.

Do you have an idea where Entity Framework Core generates this? I am willing to implement it correctly.

[2018-01-11 08:37] marek1972 opened #21 "Use Any()"
### The issue

Use of Any()

### Steps to reproduce

if (context.Students.Any()){}

### Error details

InnerException = {Dynamic SQL Error
SQL error code = -206
Column unknown
TRUE
At line 5, column 15}

[code]

### Further technical details

Firebird version: 2.5
EntityFrameworkCore.FirebirdSql version: 2.0.11.3

Other details about my project setup:

[2018-01-11 11:54] ralmsdeveloper commented on #21
Actually this was not implemented for version 2.5, only 3.x, for the reason that boolean type support.
I was planning to implement this for 2.1, because we will support the conversion, but I will try to implement this soon for FB 2.5

[2018-01-11 23:25] thelostcode commented on #20
Alright.
I'll found it out. Closing this as I will send you a couple of PR's in a few.

[2018-01-11 23:33] thelostcode commented on #20
Well, could you just cherry pick this one to master?

https://github.com/thelostcode/EntityFrameworkCore.FirebirdSQL/commit/4ea167820d9c22c13080337cb886f5b7282547db

[2018-01-11 23:53] ralmsdeveloper commented on #20
I'll look at this tomorrow, thank you!

[2018-01-15 03:55] ralmsdeveloper commented on #19
@thelostcode
I made a small adjustment for the use of DIALECT 1

[2018-01-15 08:10] marek1972 opened #22 "Insert exception"
### The issue

Insert new record to table

### Steps to reproduce
In model:

    public class Course
    {
        [DatabaseGenerated(DatabaseGeneratedOption.None)]
        public int CourseID { get; set; }
        public int Credits { get; set; }
        [StringLength(100)]
        public string Title { get; set; }

        public ICollection<Enrollment> Enrollments { get; set; }
    }

In contro

[2018-01-15 08:14] marek1972 commented on #21
Thanks.

[2018-01-15 11:45] ralmsdeveloper commented on #22
That was broken, I'm correcting!

[2018-01-15 12:43] marek1972 commented on #22
Ok. Waiting for update. After test will send you comment.

[2018-01-15 22:58] ralmsdeveloper commented on #21
Fixed in version 2.0.11.4, available in nuget!

[2018-01-15 22:58] #21 closed

[2018-01-15 22:59] ralmsdeveloper commented on #22
Fixed in version 2.0.11.4, available in nuget!

[2018-01-15 22:59] #22 closed

[2018-01-15 22:59] ralmsdeveloper commented on #19
Fixed in version 2.0.11.4, available in nuget!

[2018-01-15 23:00] #19 closed

[2018-01-16 10:02] marek1972 commented on #21
Any() works properly. Thanks a lot.

[2018-01-16 11:30] marek1972 opened #23 "SaveChanges()"
### The issue

In following situation SaveChanged() returns 7 affected rows, but table is still empty.
No exception.

### Steps to reproduce

In model:

namespace ContosoUniversity.Models
{
    public class Course
    {
        [DatabaseGenerated(DatabaseGeneratedOption.None)]
        public int CourseID { get; set; }
        public int Credits { get; set; }
        [StringLength(100)]
        pub

[2018-01-16 12:39] ralmsdeveloper commented on #23
Thanks for the tests!

I need more of this.
Sorted out!

[2018-01-16 13:13] #23 closed

[2018-01-22 16:13] ralmsdeveloper commented on #20
Adjusted!

[2018-01-22 16:14] #20 closed

[2018-01-25 19:48] thomaspope opened #24 "Exception on update if the updated column also appears in WHERE clause"
### The issue

DbUpdateException thrown under certain circumstances (duplicate parameter specification)

### Steps to reproduce

I stumbled upon the exception while struggling to use ASP.NET Boilerplate (ABP) with Firebird. I attach a sample solution:
[AbpFb.zip](https://github.com/ralmsdeveloper/EntityFrameworkCore.FirebirdSQL/files/1665429/AbpFb.zip)
To reproduce the error, setup the solution as

[2018-02-14 17:12] alexandredsimoes opened #26 "Error creating FK in column with very long name"
I have a class with the actual structure:

[code]
When i call dbContext.Database.EnsuredCreated(), the following sql script is generated:

[code]
The Constrainst name "FK_Configuracao_TipoDocumento_T" is repeated for each generated column, throwing a exception.

Firebird version: 3.0
EntityFrameworkCore.FirebirdSql version: 2.0.11.6

[2018-02-14 17:32] ralmsdeveloper commented on #26
@alexandredsimoes
Thanks for reporting this, I'll be resolving this as soon as possible.
I'll tell you about the progress!

[2018-03-06 23:59] alexandredsimoes commented on #26
I solved the problemn with custom FK names:

[code]

[2018-03-06 23:59] #26 closed

[2018-03-07 02:31] ralmsdeveloper commented on #26
@alexandredsimoes
Did you get my email, where did I tell you about this limitation, the size of the names for Firebird?

[2018-03-07 11:19] alexandredsimoes commented on #26
Yeah. Thank you for the support.

[2018-03-10 01:24] #24 closed

[2018-04-26 06:55] hendriksteinhorst opened #28 "generated query has double quotes at the table alias and the column name"
### The issue

I'm trying to use EF core with Firebird 2.5 Database. Scaffolding the context works fine. If i try to run a query I get an error saying that the token is unknown.
Logging the generated SQL query shows that there are unecessary double quotes, which leads to an SQL Exception.

e.g. SELECT "p"."ID", "p"."name", "p"."age" FROM People as "p"
but it should be "SELECT p.ID, p.name, p.age f

[2018-04-26 13:29] ralmsdeveloper commented on #28
In fact what is missing is the escape of People should be "People".
I will resolve this

[2018-04-26 14:06] hendriksteinhorst commented on #28
I'm not sure if I understand you correctly. Wrapping the "People" in double quotes gives the same error when executing the query with LinqPad.
[code]
produces the following error:
[code]

This is the dot between "p" and "ID". Removing all double quotes works for me.

[2018-04-26 14:28] hendriksteinhorst commented on #28
sorry, didn't meant to close the issue

[2018-05-03 09:00] hendriksteinhorst commented on #28
Hi, sorry for the late response. This is my class of People

[code]

this is my context

[code]

and my Table

[code]

[2018-05-12 03:44] #17 closed

[2018-05-16 07:21] jojastahl opened #29 "block size exceeds implementation restriction"
### The issue

Saving updates to entities raises exception

### Steps to reproduce

No reproducing example solution created yet.

### Error details

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Further technical details

Firebird version: 2.5
EntityFrameworkCore.FirebirdSql version: 2.0.11
FirebirdSql.Data.FirebirdClient: 5.12.0.0

Oth

[2018-05-16 07:25] jojastahl commented on #29
See http://www.firebirdfaq.org/faq299/ for info when this can happen.

[2018-05-16 08:25] jojastahl commented on #29
The SQL Command to be executed:
[code]

The parameters used:
[code]

[2018-05-17 01:58] ralmsdeveloper commented on #28
I did the repro here and had success with version 2.1-RC1

[code]

[2018-05-17 05:08] hendriksteinhorst commented on #28
can you provide a sample solution for me so that i can check this against my database?

[2018-05-17 12:25] ralmsdeveloper commented on #28
[code]

[2018-05-17 15:08] ralmsdeveloper commented on #29
Yes that makes sense, you can upload your project for me to reproduce on it.
My time is short.

I would avoid writing a few bits :)

[2018-05-19 14:35] ludydoo commented on #13
Hi, are boolean fields supported in 2.0.11.6  ? (FB 2.5)

[2018-05-19 15:53] ralmsdeveloper commented on #13
Hello @ludydoo ,
I'm working on it, I'm spending some effort to tweak the provider and keep up with the 2.5 compatibility, since each provider was thought of 3.X.

So I'll sort this out, but it's only available for 2.1 RTM, but I think I can release a version before for testing.

[2018-05-21 15:26] MaceWindu commented on #28
Sorry to butt-in, but quoted identifiers supported only for Dialect 3, and @hendriksteinhorst says he use dialect 1. Also quoted identifiers made them case sensitive. So quotation should be configurable.

[2018-05-26 21:37] ralmsdeveloper commented on #28
Fix it for version 2.1.

@MaceWindu Thanks!
I did not look at the dialect!

[2018-05-28 14:17] newdeal30 opened #30 "[NOT-AN-ISSUES-ONLY-QUESTION] ;-)"
Hi!,

One question:
How is bulk insert done? Do you mean the DbContext.AddRange() function?
Thanks and regards
Michael

[2018-05-28 14:37] ralmsdeveloper commented on #30
Hello @newdeal30,
Exactly, however I removed the bulk insert in version 2.1-Preview, I'm working on improvements to 2.1.

I had some bad experiences, so I decided to refactor this.

[2018-05-28 14:38] ralmsdeveloper opened #31 "Improvements in batch insertion"

[2018-05-28 14:39] ralmsdeveloper commented on #31
See #30

[2018-05-28 15:16] newdeal30 commented on #30
Thanks for your quickest response ;-)
I am currently using V2.0.11.6. Is it working there?
What would you do to get faster inserts?
All in one seperate Transaction?
Thanks and regards Michael

[2018-05-28 15:19] ralmsdeveloper commented on #30
A 2.0.11.x supports batching.
This is using the EXECUTE BLOCK, to have more performance and send in bulk!

[2018-05-28 15:45] newdeal30 commented on #30
Thanks!

[2018-05-28 15:45] #30 closed

[2018-06-18 18:16] ralmsdeveloper opened #33 "Help area!"
Help area!
We need tests to follow the test pattern of EntityFrameworkCore (SQL Server)

Any help is welcome!

[2018-06-23 06:17] qbikez commented on #13
I aslo encountered similar error with FB 2.5. #35 may fix it (bf46f00153d8c6231de42c2a0df2f021b544daf4).

[2018-06-25 02:09] #29 closed

[2018-06-26 10:26] marcobusemann opened #36 "Broken SQL queryies for Dialect1"
### The issue

First of all thanks for your great work!
Using your latest Version2.1 branch we got a problem with broken statements generated from```FbQuerySqlGenerator```. The problem occurs due to the ```VisitTable()``` implementation (We are using Dialect1).

We have a simple setup like this:

[code]

The generated sql looks like this:
[code]

Obviously the alias used for the id field does not

[2018-08-18 00:19] slavanap opened #37 "Invalid query constructed when check for list.Contains(element) and the list is empty"
### The issue

Tested sample:
[code]

### Steps to reproduce

Check for List<T>.Contains(X) when the list is empty.

### Error details

![capture](https://user-images.githubusercontent.com/1901547/44293586-41a59e80-a295-11e8-96ad-182e7f8582be.JPG)

### Further technical details

Firebird version: 2.5.8
EntityFrameworkCore.FirebirdSql version: 6.1.0

[2018-08-26 19:38] Cae2 opened #38 "Cannot Scaffold if my table hasnt Primary Key"
Hello, I'm trying to scaffold a database who doesnt use Primary Key on its tables.

When I run a dotnet ef dbcontext scaffold I got the following error:

`PK '' on table 'NF                             ' has no columns!`
`PK '' on table 'PRODUTOS_EVENTOS               ' has no columns!`
`Unable to identify the primary key for table 'NF                             '.`
`Unable to generate entity typ

[2018-08-30 07:10] gpanayotov opened #39 "Issue with Asp.Net Core Identity (DNET-816)"
I have issue with Asp.Net Core Identity when it uses EF Core with Firebird database. First I detect it on changing password. I think it will appear always when you update a column which appears in the where clause.
The priblem is the same as in [DNET-816] Wrong EntityFramewordCore command with Asp.Net Core Identity (http://tracker.firebirdsql.org/browse/DNET-816) in the Firebird Tracker

The probl

[2018-08-30 12:52] ralmsdeveloper commented on #39
Thanks for watching!
This week I will be updating and correcting all the problems open here.
Thanks again.

[2018-09-01 17:56] Cae2 opened #40 "Token unknown"
Hello, Im trying to implement this package and when I try to return simple query it works, for example:

`var result = context.Blog.Take(10).ToList();`

but if I try to use the relationship with "Posts" for example:

`var result = context.Blog.Include(p => p.Posts).Take(10).ToList();`

I got the error:

I searched about this Token Error and found some information about ADO FirebirdClient is only t

[2018-09-09 01:45] ralmsdeveloper commented on #39
@gpanayotov released version 2.1.2, please update and validate if your issue has been resolved with this release.
Thank you!

[2018-09-09 19:55] gpanayotov commented on #39
@ralmsdeveloper I've tried 2.1.2 but received exception:
_An item with the same key has already been added. Key: p2_
I will get the latest sources to check where exactly the exception is thrown

[2018-09-09 20:00] gpanayotov opened #41 "Incorrect SQL generated when 2 or more columns are returned on update"
If I have 2 or more DB generated fields (for example mapped with .ValueGeneratedOnAddOrUpdate() ) then the the SQL is generated wrongly -
It is
...
RETURNING COLUMN1 INTO :COLUMN1, COLUMN2 INTO :COLUMN2
...

but should be:
RETURNING COLUMN1, COLUMN2 INTO :COLUMN1, :COLUMN2

I've tried to fix it - it is in the commit
https://github.com/gpanayotov/EntityFrameworkCore.FirebirdSQL/commit/913c9fdbe841a

[2018-09-09 23:52] ralmsdeveloper commented on #39
@gpanayotov
Could you upload a repro here?
So that I can analyze.

[2018-09-09 23:59] ralmsdeveloper commented on #39
I have been able to identify here, I am correcting and unfortunately I will have to make a new version available in the nuget with this correction, I am spending my free time building version 2.2 / 3.0 with all EntityFrameworkCore test base so I avoid these errors.

[2018-09-10 00:25] ralmsdeveloper commented on #39
@gpanayotov
Thanks for helping to identify the problem, corrected with: https://github.com/ralmsdeveloper/EntityFrameworkCore.FirebirdSQL/commit/bab6f69605f2d0f34d43cf47cb6474334ad67560

Updated Nuget Package: 2.1.2.1

[2018-09-10 00:26] ralmsdeveloper commented on #41
@gpanayotov
Thanks for helping to identify the problem, corrected with: https://github.com/ralmsdeveloper/EntityFrameworkCore.FirebirdSQL/commit/bab6f69605f2d0f34d43cf47cb6474334ad67560

Updated Nuget Package: 2.1.2.1

[2018-09-10 15:18] mrjohnr commented on #41
hi.after upgrade from  2.1.1 to 2.1.2.1 my app doesn't start,got in console: internal server error,if I start app with in debug mode it works.reverting to 2.1.1 all works fine
is a bung in my app,or in that new version?
thanks

[2018-09-11 01:51] ralmsdeveloper commented on #41
Can you show the exception you receive?
I could not simulate, it could be some Nuget cache problem.

[2018-09-11 02:27] ralmsdeveloper commented on #41
Maybe it's the lack of dependency **System.Interactive.Async**, I removed it, and sent a new package.
If the problem persists please put here the exception you receive.
@mrjohnr  Thanks!

[2018-09-11 06:02] mrjohnr commented on #41
hi.
I've tested with the new version,the same problem,error is:

[code]
I use FB 2.5
thanks

[2018-09-11 14:29] ralmsdeveloper commented on #41
@mrjohnr

You could upload a small repro here, so I can try to reproduce the problem better and identify the root of the problem.

[2018-09-11 14:35] ralmsdeveloper opened #42 "report bug 2.1.1 to 2.1.2"
from @mrjohnr on 11 de set de 2018 09:26 BRT

[code]

[2018-09-11 14:36] ralmsdeveloper commented on #41
Closing here, tracking for #42

[2018-09-11 14:36] #41 closed, assigned to ralmsdeveloper

[2018-09-11 14:36] ralmsdeveloper commented on #42
Waiting for an example to reproduce the error.

[2018-09-11 17:27] mrjohnr commented on #42
hi.I've created a sample ASP Core + Angular 6
packeges included:

[code]

I've used firebird example EMPLOYEE.FDB (c:\Program Files\Firebird\Firebird_2_5\examples\empbuild\)
a simple model+configuration

[code]
and

[code]

in main controller
[code]
all works with 2.1.1
after updating,not working
entire project is [here](https://www94.zippyshare.com/v/Il9GQE0Y/file.html)
thanks

[2018-09-11 23:23] ralmsdeveloper commented on #42
I did the tests using your example and I could not simulate your error.
The .csproj information is:

[code]

Follow the instructions and clear your cache and try again.
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-locals

[2018-09-12 06:01] mrjohnr commented on #42
done.but the same error,tested on 2 computers
thanks

[2018-09-12 22:49] gpanayotov commented on #39
It works now. Thanks.

[2018-09-12 22:49] #39 closed, assigned to ralmsdeveloper

[2018-09-24 21:34] gpanayotov commented on #42
I have the same problem. I don't have a test project, but I've tested in one of ours - build the assembly with debug information and attach to it (using current 2.1.2 branch).
The exception is thrown because in FbQuerySqlGenerator(...) the _queryCompilationContex is null
The exception is thrown when i try to login to a web app.

The interesting thing is:
If i start the application, and try to logi

[2018-10-05 11:23] JeanRessouche commented on #42
Hi, was able to reproduce it with the latest version, does not appear within the 2.1.1.

- On most workstation/server tested it works well (even using latest version)
- On some server (repro only under windows server 2008 R2 so far) it crash as described above.
- Reverting to the nuget package 2.1.1 solve the issue.

**CsProj**

[code]

**DbContext**

[code]

**Test Entity**

[code]

**Consumer**

[2018-10-05 11:32] ralmsdeveloper commented on #42
@souchprod, thanks for testing, I'll work on it today!

[2018-10-17 15:54] mrjohnr commented on #42
Hi,is that fixed? I see no new update,still 2.1.2.2 available.thanks

[2018-11-02 02:30] ralmsdeveloper opened #43 "Query: Remove ReLinq dependency in Funcletizer #13862"

[2018-11-02 17:39] ralmsdeveloper opened #44 "Migration 2.2"
* Create new branch [   ]
* Refactoring all code [  ]
* Deployment of unit tests [  ]
* Bug fixes and fixes [  ]

Estimated deadline 11/15/2018

[2018-11-09 15:20] Andyriod commented on #40
Same here. I try to create my database with code first migrations.

SQL error code = -104

__EFMigrationsHistory ---> FirebirdSql.Data.Common.IscException: Dynamic SQL Error

[code]

[code]

The FirebirdSql.EntityFrameworkCore.Firebird from Jiri works well here, but doesn't create TRIGGERS and GENERATORS for Primary Keys.

[2018-11-10 16:14] ralmsdeveloper commented on #40
Sorry folks I had a lot of work here in the company.

This will be corrected as soon as possible.

[2018-11-28 11:45] krilbe opened #45 "NullRefException in EntityFrameworkCore.FirebirdSql.Query.Sql.Internal.FbQuerySqlGenerator..ctor"
### The issue

Only on our server (Staging) not in devenv (Development) we get a NullReferenceException in the FbQuerySqlGenerator constructor.

### Steps to reproduce

We are unable at this time to produce a valid test case, but it happens on a line like this:
`DbSet<Document> docs = dbContext.Document`, where `Document` is a model class. We have checked that the database connection is ok, that `

[2018-11-28 12:43] krilbe commented on #45
I cloned the repo to do some tests and the problem seems to vanish with latest source (2.1.4). So, this issue would be a duplicate of #42 apparently. Sorry for not reading thoroughly...

[2018-11-28 12:43] #45 closed, assigned to nobody

[2018-12-27 23:42] ralmsdeveloper commented on #38
All, well sorry for the delay, I'm going back to work.

[2018-12-27 23:42] ralmsdeveloper commented on #45
All, well sorry for the delay, I'm going back to work.

[2019-01-17 16:20] mrjohnr commented on #42
it is more than 4 months without a fix ... is that project dead?

[2019-01-17 16:58] ralmsdeveloper commented on #42
@mrjohnr
I want to apologize, I was involved in other projects of the company, I will start working on it .. as soon as possible ..

[2019-01-23 08:56] RonaldGHempel opened #46 "Scaffolding not accurate"
### The issue

When scaffolding an existing database, there are some issues with the generated classes.

1. Columns marked as NOT NULL are generated as optional members.
2. Unique index spreading over serveral columns isn't marked as unique. See index RDB$19 down below, which is not marked as IsUnique()

### Steps to reproduce

**Table definition**

id                              (D_ID) INTEGER N

[2019-01-25 14:48] krilbe opened #47 "Duplicate citation of table name in FbHistoryRepository.ExistsSql"
### The issue

SQL generated to check existence of a table puts single quotes around the tabel name string literal returned by `stringTypeMapping.GenerateSqlLiteral(TableName)`, which it should not.

### Steps to reproduce

We encounter this when trying to execute migration, when an attempt is made to check for the table `__EFMigrationsHistory`. This is SQL we get:

    SELECT COUNT(*)
    FROM rd

[2019-01-29 10:23] krilbe commented on #47
We have tested this fix in our project, and it does work.

[2019-02-06 06:21] MattDeering opened #48 "Specified domain or source column BIT does not exist"
### The issue
Hi, hoping I have the right place for this.

When converting from the fluent Linq expression to an SQL output the generated SQL includes the type BIT, which does not exist in firebird 2.5.

The DTO property CanPackBeBroken is a Bool.
The Table column BCANBEBROKEN is a Char(1)

I have previously been using EntityFramework 6 and checking BCANBEBROKEN == "T" to convert the string to a b

[2019-02-18 17:49] mrjohnr commented on #42
another month with no fix :(

[2019-02-20 14:45] jjniemela commented on #42
I also waited for a while... Then switched to: https://www.nuget.org/packages/FirebirdSql.EntityFrameworkCore.Firebird/

[2019-02-21 05:01] mrjohnr commented on #42
Hi,at this moment [https://www.nuget.org/packages/FirebirdSql.EntityFrameworkCore.Firebird/](url)
doesn't work with  FB 2.5

[2019-02-21 07:22] jjniemela commented on #42
It should at least to some point... I'm using it with FB 2.5.8 right now.

[2019-02-21 07:32] mrjohnr commented on #42
I'm using 2.5.8 too but not working with subselects

[2019-02-22 18:52] ralmsdeveloper commented on #42
I have to apologize for the absence here, I'm involved with the company's projects, it took a lot of my time, I believed that someone in the community could help with this, but nobody built it, so what I have left and sacrifice in the next few days to update this repository in respect to all of you.

[2019-08-19 18:31] fabriciogsantos commented on #11
i'm having the same problem with version 7.0.0, could you help me?

`EmailConfirmed = table.Column<bool>(type: "BOOLEAN",nullable: false),`
`EmailConfirmed = table.Column<bool>(nullable: false),`

Error details
`update-database -context ApplicationDbContext
Microsoft.EntityFrameworkCore.Infrastructure[10403]
      Entity Framework Core 2.2.6-servicing-10079 initialized 'ApplicationDbContext' using

[2019-09-28 03:17] arabasso opened #50 "FOR UPDATE WITH LOCK And NOWAIT Read Commited Isolation Level Transactions"
Hello!

I am trying to use FOR UPDATE WITH LOCK in version 7.1.1, however I have verified that transactions are being created with `FbTransactionBehavior.NOWAIT`... In the library code the problem is on line 248 of the BuildTpb() method (`Provider\src\FirebirdSql.Data.FirebirdClient\FirebirdClient\FbTransaction.cs`):

`options.TransactionBehavior |= FbTransactionBehavior.NoWait;`

So, I ask: How c

[2019-09-28 03:22] #50 closed, assigned to nobody

[2019-10-03 21:44] halfs2 opened #51 "FromSQL not working with Accents"
I'm doing raw sql queries with fromSQL () and everything works fine until I need to compare some string with accent, running select in dbeaver works, the same select in my program returns nothing. Does anyone know why? If I change the word to JEBAO and using select with JEBAO works, then it's really some problem with accentuation.

in database = 'JEBÃO'
working on DBeaver, nothing working on my ap

[2019-11-07 16:55] Herium opened #52 "Transaction not working ?"
### Need to work with transactions , but not working, if i remove transaction code ,works fine

[code]

[2019-11-28 12:07] joarb opened #53 "Error connecting to database on Mac"
### The issue

I'm trying to connect to a database from EFCore.

### Steps to reproduce

[code]
where

[code]

I've verified connecting to the same database using `isql`:

[code]

which should be sufficient verification.

### Error details

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

There is nothing related to this error in the `firebird

[2019-11-29 21:38] ralmsdeveloper commented on #53
I am very busy with some things of the company, active in the project only in early 2020, so I recommend using the following provider:
https://github.com/cincuranet/FirebirdSql.Data.FirebirdClient

[2019-11-29 21:38] #53 closed, assigned to nobody

[2019-11-29 22:14] WiSch4711 commented on #53
Hello, Joar,
I had the same problem, but I could fix it tonight.
The problem is the driver of the FirebirdSql version 6.0.6 or higher.
Until version 6.0.5 the function UseFirebird() is in the namespace
using FirebirdSql.EntityFrameworkCore.Firebird.Extensions;
As of version 6.0.6, the function is available in
using Microsoft.EntityFrameworkCore;

Go back to version 6.0.5 and the bug is no longer t

[2019-12-01 09:30] joarb commented on #53
Thanks for the input @ralmsdeveloper and @WiSch4711 . I wasn't able to log in using the 6.5.0-version either (I suppose 6.0.5 was a typo?), so I'll head over to https://github.com/cincuranet/FirebirdSql.Data.FirebirdClient and ask there instead.

[2019-12-01 13:10] WiSch4711 commented on #53
Sorry, FirebirdSql.EntityFrameworkCore.Firebird Version 6.5.0 is correct.

Winfried

Am 01.12.2019 um 10:30 schrieb Joar Bølstad:

--
Mit freundlichem Gruß aus Siegburg

Winfried Schneller
winfried@schneller.de
+49 2241 604051